/* Flashcard.css */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
}

button {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 8px 16px; /* More compact padding */
    font-size: 14px; /* Smaller font size for compactness */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 4px; /* Rounded corners */
}
.actionButtons {
    display: flex;
    justify-content: center;
}
button:hover {
    background-color: #e2e2e2;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-4 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.card {
    width: 450px;  /* Further increased width */
    height: 350px; /* Further increased height */
    perspective: 1500px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    position: relative;
    margin: 0 20px; /* Ensures spacing and central alignment */
}

.card .front,
.card .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-size: 30px; /* Increased font size */
    border-radius: 15px;
    transition: transform 0.6s;
}

.card .front {
    background-color: #ffffff;
}

.card .back {
    background-color: #f7f7f7;
    transform: rotateY(180deg);
}

.card.flip .front {
    transform: rotateY(180deg);
}

.card.flip .back {
    transform: rotateY(0deg);
}

.justify-content-around {
    justify-content: space-around;
    width: 100%; /* Full width for button bar */
    padding: 20px;
}
@keyframes flash {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
  }
  
  .recording {
    animation: flash 1s infinite;
  }