/* General styling for view assignments */
/* .viewAssignment {
    padding: 10px;
} */

/* Button container with flex layout */
.button-container {
    display: flex;
    justify-content: space-between; /* Space buttons out */
    align-items: center; /* Center buttons vertically */
    margin-bottom: 20px; /* Add some margin below the container */
}

/* Styles for the back button */
/* .backButton {
    background-color: maroon;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.4s, transform 0.2s;
} */

/* Hover effect for back button */
/* .backButton:hover {
    background-color: darkred;
    transform: scale(1.05);
} */

.flashCardButton {
    background-color: maroon;
    color: white;
    border: none; /* Removes the default border */
    padding: 10px 15px; /* Adds some padding */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s; /* Smooth transition for hover effect */
  }
  
  .flashCardButton:hover {
    transform: scale(1.05);
      background-color: maroon;
   
    ; /* Darkens the button on hover */
  }

/* Styling for lesson names */
.lessonName {
    margin-bottom: 20px;
    color: maroon;
    margin-left: 3%;
}

/* Container for tables with scrolling capability */
.tableContainer {
    max-height: 800px;
    overflow-y: auto;
    border: 1px solid #ddd;
    margin-left: 3%;
    margin-right: 3%;
}

/* Styling for flashcard tables */
.flashcardTable {
    width: 100%;
    border-collapse: collapse;
}

/* Styling for table headers and cells */
.flashcardTable th, .flashcardTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* Sticky header in table */
.flashcardTable thead th {
    position: sticky;
    top: 0;
    background-color: #f0f0f0;
}

/* Full-width audio controls for better usability */
.audioControl {
    width: 100%;
}

#score {
    text-align: center;
}

#assignmentStudentHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 3%;
    margin-right: 3%;
}